/* styles.css */

.body, html {
    font-family: Helvetica, Arial, sans-serif; /* Change font to Helvetica */
    height: 100%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: normal;
    background-color: #f0f0f0;

}



.rectangle {
    width: 50vw;
    height: 50vh;
    /*border: 2px solid #4CAF50;  Add border */
    background-color: aqua;
    position: relative; /* Required for positioning pseudo-elements */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-decoration: none; /* Remove default underline for anchor tag */
}

.text {
    position: absolute;
    color: #000000; /* Text color */
    cursor: pointer; /* Change cursor on hover */
    pointer-events: auto; /* Allow clicks on text */
}

.top-left {
    top:20px; /* Position above the rectangle */
    left: 10%; /* Center horizontally */
    transform: translateX(-50%); /* Center text */
}

.bottom-left {
    bottom: 20px; /* Position below the rectangle */
    left: 15%; /* Center horizontally */
    transform: translateX(-50%); /* Center text */
}

.top-right {
    top: 35px; /* Center vertically */
    right: 5%; /* Position to the left of the rectangle */
    transform: translateY(-50%); /* Center text */
}

.bottom-right {
    bottom: 10px; /* Center vertically */
    right: 5%; /* Position to the right of the rectangle */
    transform: translateY(-50%); /* Center text */
}
#toggleButton {
    position: fixed;
    top: 20px; /* Adjust top position */
    right: 20px; /* Adjust right position */
}

/* Footer styles */
footer {
    color: #000000;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}
/* Center the content horizontally */
.container {
    text-align: center;
}

/* Set full width and height for the map container */
.map-container {
    width: 90vw; /* Set width to 100% of viewport width */
    height: 100vh; /* Set height to 100% of viewport height */
    overflow: hidden;
    position: relative;
}

/* Make the iframe fill the entire map container */
.map-container iframe {
    width: 90%;
    height: 60%;
    border: none; /* Remove iframe border */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .rectangle {
        width: 80vw; /* Reduce width on smaller screens */
        height: 40vh; /* Reduce height on smaller screens */
        font-size: 18px; /* Adjust font size on smaller screens */
    }

    .text {
        font-size: 16px; /* Adjust font size of text on smaller screens */
    }
}
a h1 {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
}